.grid-container{
    width: 70%;
    min-height: 200px;
    display: grid;
    background-color: #7364d273;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 5fr;
    margin: 30px auto 50px;
    gap: 10px;
    padding: 10px;
}

.grid-item{
    background-color: rgba(133, 138, 227, 0.533);
    border: 1px solid rgb(0, 0, 0);
    font-size: 1.2em;
    text-align: center;
    color: rgb(228, 238, 248);
}

/* SEC PART*/

.grid-container-2{
    width: 70%;
    min-height: 200px;
    display: grid;
    background-color: #7364d273;
    grid-auto-rows: minmax(90px,auto);
    grid-template-columns: repeat(3, 1fr);
    margin: 30px auto 50px;
    gap: 10px;
    padding: 10px;
}

.grid-container-2 div{
    display: grid;
    place-items: center;
    border: 1px solid black;
    background-color: #858ae3b6;
}

.grid-item-3{
    grid-column: 3/4;
    grid-row: 1/3;
}
.grid-item-4{
    grid-column: 1/3;
    grid-row: 2/3;;
}
.grid-item-5{
    grid-area: 3/1/4/4;
}

@media screen and (max-width: 760px){
    .grid-container{
        width: 100%;
    }
    .grid-container-2{
        width: 100%;
    }
}
